version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: flask-backend
    ports:
      - "5000:5000"

    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
    container_name: node-frontend
    environment:
      - BACKEND_URL=http://backend:5000/process
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge